In [1]:
# 1. 가져다 쓸 모듈들
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # 예쁜 matplotlib
import folium # 지도 시각화
import json # geojson 파일용
import geopandas as gpd # geojson 파일용

In [2]:
# 2. 약 55000개로 이루어진 대구 격자 데이터 로드
filename = "격자변환제발마지막-1.json"
file = open(filename,encoding='UTF8')
df2 = gpd.read_file(file)
df2

,gu,dong,jibun,loc_cd,sgnl_drn_cd,sgnl_knd_cd,index,geometry
0,서구,관저동,None,1,None,2,12927.0,POINT (127.33462 36.29501)
1,유성구,노은동,None,1,None,2,10521.0,POINT (127.32352 36.36703)
2,동구,판암동,None,1,None,2,43988.0,POINT (127.46137 36.32029)
3,동구,판암동,None,1,None,2,42907.0,POINT (127.45688 36.31913)
4,동구,판암동,None,1,None,2,42907.0,POINT (127.45670 36.31918)
...,...,...,...,...,...,...,...,...
7402,유성구,원신흥동,None,1,None,2,5954.0,POINT (127.34825 36.33238)
7403,유성구,덕명동,None,1,None,2,5954.0,POINT (127.30065 36.36024)
7404,유성구,덕명동,None,1,None,2,5954.0,POINT (127.30095 36.36019)
7405,유성구,덕명동,None,1,2,2,5952.0,POINT (127.30110 36.36050)
7406,유성구,덕명동,None,1,None,2,NaN,POINT (127.30075 36.35886)

In [3]:
# 2. 약 55000개로 이루어진 대구 격자 데이터 로드
filename = "30.대전광역시_차량등록현황_격자.geojson"
file = open(filename,encoding='UTF8')
df3 = gpd.read_file(file)
df3

            gid  cars_cnt                                           geometry
0      다마846996         0  MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...
1      다마847995         0  MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...
2      다마847996         0  MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...
3      다마847997         0  MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...
4      다마847998         0  MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...
...         ...       ...                                                ...
54907  라바052223         0  MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...
54908  라바052224         0  MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...
54909  라바053222         0  MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...
54910  라바053223         0  MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...
54911  라바053224         0  MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...

[54912 rows x 3 columns]

In [4]:
for i in range (len(df3['geometry'])):
    if df2.iloc[347]['geometry'].within(df3['geometry'][i])==True:
        print(i) # 정답

In [5]:
int(df2.iloc[347]['index']) # 오류

33746

In [6]:
# 2. 약 55000개로 이루어진 대구 격자 데이터 로드
filename = "3.대전광역시_신호등(보행등).geojson"
file = open(filename,encoding='UTF8')
ans = gpd.read_file(file)
ans

,gu,dong,jibun,loc_cd,sgnl_drn_cd,sgnl_knd_cd,geometry
0,서구,관저동,None,1,None,2,POINT (127.33462 36.29501)
1,유성구,노은동,None,1,None,2,POINT (127.32352 36.36703)
2,동구,판암동,None,1,None,2,POINT (127.46137 36.32029)
3,동구,판암동,None,1,None,2,POINT (127.45688 36.31913)
4,동구,판암동,None,1,None,2,POINT (127.45670 36.31918)
...,...,...,...,...,...,...,...
7402,유성구,원신흥동,None,1,None,2,POINT (127.34825 36.33238)
7403,유성구,덕명동,None,1,None,2,POINT (127.30065 36.36024)
7404,유성구,덕명동,None,1,None,2,POINT (127.30095 36.36019)
7405,유성구,덕명동,None,1,2,2,POINT (127.30110 36.36050)
7406,유성구,덕명동,None,1,None,2,POINT (127.30075 36.35886)

In [7]:
ans.iloc[948]

gu                                                     대덕구
dong                                                   송촌동
jibun                                                 534도
loc_cd                                                   1
sgnl_drn_cd                                              2
sgnl_knd_cd                                              2
geometry       POINT (127.4379296139446 36.36643343197982)
Name: 948, dtype: object

In [8]:
df2.iloc[948]

gu                                                     대덕구
dong                                                   송촌동
jibun                                                 534도
loc_cd                                                   1
sgnl_drn_cd                                              2
sgnl_knd_cd                                              2
index                                                38194
geometry       POINT (127.4379296139446 36.36643343197982)
Name: 948, dtype: object

In [9]:
for i in range (len(df3['geometry'])):
    if ans.iloc[347]['geometry'].within(df3['geometry'][i])==True:
        print(i) # 정답

In [10]:
a=['a','b','c','d','e']
for i in range (len(a)):
    if i==len(a)-1:
        print(i)
        print(a[i])

4
e

In [11]:
sip=ans.loc[[346,347]].reset_index()
sip[sip['index']==346]

,index,gu,dong,jibun,loc_cd,sgnl_drn_cd,sgnl_knd_cd,geometry
0,346,대덕구,상서동,828도,1,2,2,POINT (127.41978 36.43149)

In [ ]:
converted_json = sip[sip['index']==346].to_json()

m = folium.Map(
    location=[36.34156,127.39704],
    zoom_start=11
)

folium.GeoJson(
    converted_json,
).add_to(m)

m

In [ ]:
converted_json = df3.to_json()

m = folium.Map(
    location=[36.34156,127.39704],
    zoom_start=11
)

folium.GeoJson(
    converted_json,
).add_to(m)

m

In [ ]:
converted_json = sip[sip['index']==346].to_json()

m = folium.Map(
    location=[36.34156,127.39704],
    zoom_start=11
)

folium.GeoJson(
    converted_json,
).add_to(m)

converted_json = df3.to_json()

folium.GeoJson(
    converted_json,
).add_to(m)

m