In [12]:
# 가져다 쓸 모듈들
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # 예쁜 matplotlib
import folium # 지도 시각화
import json # geojson 파일용
import geopandas as gpd # geojson 파일용

In [13]:
filename = "30.대전광역시_차량등록현황_격자.geojson"
file = open(filename,encoding="utf8")
df2 = gpd.read_file(file)
df2

            gid  cars_cnt                                           geometry
0      다마846996         0  MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...
1      다마847995         0  MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...
2      다마847996         0  MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...
3      다마847997         0  MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...
4      다마847998         0  MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...
...         ...       ...                                                ...
54907  라바052223         0  MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...
54908  라바052224         0  MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...
54909  라바053222         0  MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...
54910  라바053223         0  MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...
54911  라바053224         0  MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...

[54912 rows x 3 columns]

In [14]:
df3=df2.copy()
df3['cctv 수']=0
df3

,gid,cars_cnt,geometry,cctv 수
0,다마846996,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0
1,다마847995,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0
2,다마847996,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0
3,다마847997,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0
4,다마847998,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0
...,...,...,...,...
54907,라바052223,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0
54908,라바052224,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0
54909,라바053222,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0
54910,라바053223,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0
54911,라바053224,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0

In [15]:
filename = "3월22일제발마지막-5.json"
file = open(filename,encoding="utf8")
df = gpd.read_file(file)
df

      gu dong jibun  index                    geometry
0    대덕구  오정동  None  32290  POINT (127.41523 36.35876)
1    대덕구  오정동  None  32290  POINT (127.41524 36.35877)
2     서구  탄방동  None  29017  POINT (127.40185 36.34503)
3     동구  가양동  None  39318  POINT (127.44235 36.35098)
4     서구  용문동  None  26982  POINT (127.39326 36.33812)
..   ...  ...   ...    ...                         ...
127   서구  둔산동  None  23694  POINT (127.37965 36.36003)
128  유성구  원내동  None  10446  POINT (127.32365 36.29901)
129  유성구  원내동  None  10446  POINT (127.32365 36.29900)
130   서구  월평동  None  20720  POINT (127.36637 36.35448)
131   동구  판암동  None  42634  POINT (127.45644 36.31673)

[132 rows x 5 columns]

In [16]:
for i in range (len(df['index'])):
    df3['cctv 수'][df['index'][i]]+=1

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
df3

,gid,cars_cnt,geometry,cctv 수
0,다마846996,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0
1,다마847995,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0
2,다마847996,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0
3,다마847997,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0
4,다마847998,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0
...,...,...,...,...
54907,라바052223,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0
54908,라바052224,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0
54909,라바053222,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0
54910,라바053223,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0
54911,라바053224,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0

In [18]:
df3['cctv 수'].sum()

132

In [19]:
len(df)

132

In [20]:
df3.to_file("격자_10-cctv.json", driver="GeoJSON")