In [1]:
# 가져다 쓸 모듈들
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # 예쁜 matplotlib
import folium # 지도 시각화
import json # geojson 파일용
import geopandas as gpd # geojson 파일용

/opt/app-root/lib/python3.6/site-packages/geopandas/_compat.py:91: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
filename = "30.대전광역시_차량등록현황_격자.geojson"
file = open(filename,encoding="utf8")
df90 = gpd.read_file(file)
df90

            gid  cars_cnt                                           geometry
0      다마846996         0  MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...
1      다마847995         0  MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...
2      다마847996         0  MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...
3      다마847997         0  MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...
4      다마847998         0  MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...
...         ...       ...                                                ...
54907  라바052223         0  MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...
54908  라바052224         0  MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...
54909  라바053222         0  MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...
54910  라바053223         0  MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...
54911  라바053224         0  MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...

[54912 rows x 3 columns]

In [3]:
df91=df90.copy()
df91

            gid  cars_cnt                                           geometry
0      다마846996         0  MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...
1      다마847995         0  MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...
2      다마847996         0  MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...
3      다마847997         0  MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...
4      다마847998         0  MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...
...         ...       ...                                                ...
54907  라바052223         0  MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...
54908  라바052224         0  MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...
54909  라바053222         0  MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...
54910  라바053223         0  MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...
54911  라바053224         0  MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...

[54912 rows x 3 columns]

In [4]:
df91['교통링크 수']=0
df91

,gid,cars_cnt,geometry,교통링크 수
0,다마846996,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0
1,다마847995,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0
2,다마847996,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0
3,다마847997,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0
4,다마847998,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0
...,...,...,...,...
54907,라바052223,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0
54908,라바052224,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0
54909,라바053222,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0
54910,라바053223,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0
54911,라바053224,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0

In [5]:
filename = "17.대전광역시_교통링크(2018).geojson"
file = open(filename,encoding="utf8")
df = gpd.read_file(file)
df

,LINK_ID,F_NODE,T_NODE,ROAD_USE,LANES,ROAD_RANK,ROAD_NAME,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,REMARK,ROAD_TYPE,ROAD_NO,geometry
0,1860166700,1865780400,1865780500,0,2.0,101,호남고속도로지선,0,101,50.0,5,0.0,0.0,None,000,251,"MULTILINESTRING ((127.33623 36.39071, 127.3372..."
1,1860167100,1865780400,1865780300,0,2.0,101,호남고속도로지선,0,101,50.0,5,0.0,0.0,None,000,251,"MULTILINESTRING ((127.33623 36.39071, 127.3372..."
2,1860007403,1860005600,1865780500,0,2.0,101,호남고속도로지선,0,000,100.0,5,0.0,0.0,None,000,251,"MULTILINESTRING ((127.38018 36.41072, 127.3798..."
3,1860007303,1865780500,1860005600,0,2.0,101,호남고속도로지선,0,000,100.0,5,0.0,0.0,None,000,251,"MULTILINESTRING ((127.34275 36.39281, 127.3428..."
4,1860007402,1865780300,1860003300,0,2.0,101,호남고속도로지선,0,000,100.0,5,0.0,0.0,None,000,251,"MULTILINESTRING ((127.33832 36.38647, 127.3379..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7497,1850233000,1850075800,1850076200,0,2.0,107,벌곡로,0,000,60.0,0,0.0,0.0,None,000,-,"MULTILINESTRING ((127.33397 36.24963, 127.3350..."
7498,1850233500,1850076300,1850076200,0,2.0,107,벌곡로,0,000,60.0,0,0.0,0.0,None,000,-,"MULTILINESTRING ((127.33875 36.25355, 127.3386..."
7499,1850233800,1850076200,1850076300,0,2.0,107,벌곡로,0,000,60.0,0,0.0,0.0,None,000,-,"MULTILINESTRING ((127.33621 36.25060, 127.3363..."
7500,1850233900,1850076400,1850076300,0,2.0,107,벌곡로,0,000,60.0,0,0.0,0.0,None,000,-,"MULTILINESTRING ((127.33939 36.25407, 127.3388..."
7501,1850234000,1850076300,1850076400,0,2.0,107,벌곡로,0,000,60.0,0,0.0,0.0,None,000,-,"MULTILINESTRING ((127.33885 36.25348, 127.3389..."

In [ ]:
print(len(df91))
for i in range (len(df91['geometry'])):
    print(i)
    for j in range (len(df['geometry'])):
        if df91['geometry'][i].intersects(df['geometry'][j])==True:
            df91['교통링크 수'][i]+=1
df91

In [ ]:
df91.to_file("격자_10-교통링크.json", driver="GeoJSON")

In [7]:
filename = "격자_10-교통링크.json"
file = open(filename,encoding="utf8")
df90 = gpd.read_file(file)
df90

,gid,cars_cnt,교통링크 수,geometry
0,다마846996,0,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ..."
1,다마847995,0,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ..."
2,다마847996,0,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ..."
3,다마847997,0,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ..."
4,다마847998,0,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ..."
...,...,...,...,...
54907,라바052223,0,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ..."
54908,라바052224,0,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ..."
54909,라바053222,0,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ..."
54910,라바053223,0,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ..."
54911,라바053224,0,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ..."

In [8]:
df90[df90['교통링크 수']>0]

,gid,cars_cnt,교통링크 수,geometry
65,다마851997,0,2,"MULTIPOLYGON (((127.33427 36.19433, 127.33427 ..."
66,다마851998,0,2,"MULTIPOLYGON (((127.33427 36.19523, 127.33427 ..."
82,다마852998,0,2,"MULTIPOLYGON (((127.33538 36.19523, 127.33538 ..."
96,다마853998,0,2,"MULTIPOLYGON (((127.33649 36.19523, 127.33649 ..."
97,다마853999,5,2,"MULTIPOLYGON (((127.33649 36.19613, 127.33649 ..."
...,...,...,...,...
54669,라바035236,0,2,"MULTIPOLYGON (((127.53904 36.40990, 127.53904 ..."
54670,라바035237,0,2,"MULTIPOLYGON (((127.53904 36.41081, 127.53904 ..."
54694,라바036234,0,1,"MULTIPOLYGON (((127.54015 36.40810, 127.54015 ..."
54695,라바036235,0,2,"MULTIPOLYGON (((127.54015 36.40900, 127.54015 ..."
54696,라바036236,0,2,"MULTIPOLYGON (((127.54015 36.40990, 127.54015 ..."