### 3번 - 보행 신호등 데이터 격자화

In [8]:
# 가져다 쓸 모듈들
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # 예쁜 matplotlib
import folium # 지도 시각화
import json # geojson 파일용
import geopandas as gpd # geojson 파일용
import matplotlib.font_manager as fm # 한글 폰트 사용

In [9]:
filename = "30.대전광역시_차량등록현황_격자.geojson"
file = open(filename,encoding="utf8")
df2 = gpd.read_file(file)
df2

            gid  cars_cnt                                           geometry
0      다마846996         0  MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...
1      다마847995         0  MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...
2      다마847996         0  MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...
3      다마847997         0  MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...
4      다마847998         0  MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...
...         ...       ...                                                ...
54907  라바052223         0  MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...
54908  라바052224         0  MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...
54909  라바053222         0  MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...
54910  라바053223         0  MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...
54911  라바053224         0  MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...

[54912 rows x 3 columns]

In [10]:
df3=df2.copy()
df3['보행 신호등 수']=0
df3

,gid,cars_cnt,geometry,보행 신호등 수
0,다마846996,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0
1,다마847995,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0
2,다마847996,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0
3,다마847997,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0
4,다마847998,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0
...,...,...,...,...
54907,라바052223,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0
54908,라바052224,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0
54909,라바053222,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0
54910,라바053223,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0
54911,라바053224,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0

In [11]:
filename = "3월22일제발마지막-1.json"
file = open(filename,encoding="utf8")
df = gpd.read_file(file)
df.drop(df.loc[df['index']==-1].index, inplace=True)
df=df.reset_index()
del df['level_0']
df

,gu,dong,jibun,loc_cd,sgnl_drn_cd,sgnl_knd_cd,index,geometry
0,서구,관저동,None,1,None,2,12927,POINT (127.33462 36.29501)
1,유성구,노은동,None,1,None,2,10521,POINT (127.32352 36.36703)
2,동구,판암동,None,1,None,2,43988,POINT (127.46137 36.32029)
3,동구,판암동,None,1,None,2,42907,POINT (127.45688 36.31913)
4,동구,판암동,None,1,None,2,42907,POINT (127.45670 36.31918)
...,...,...,...,...,...,...,...,...
7401,유성구,원신흥동,None,1,None,2,16149,POINT (127.34825 36.33238)
7402,유성구,덕명동,None,1,None,2,5954,POINT (127.30065 36.36024)
7403,유성구,덕명동,None,1,None,2,5954,POINT (127.30095 36.36019)
7404,유성구,덕명동,None,1,2,2,5954,POINT (127.30110 36.36050)
7405,유성구,덕명동,None,1,None,2,5952,POINT (127.30075 36.35886)

In [13]:
for i in range (len(df['index'])):
    df3['보행 신호등 수'][df['index'][i]]+=1

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### 확인

In [14]:
df3['보행 신호등 수'].sum()==len(df)

True

##### 저장

In [15]:
df3.to_file("격자_03-신호등(보행등).json", driver="GeoJSON")