In [1]:
# 가져다 쓸 모듈들
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # 예쁜 matplotlib
import folium # 지도 시각화
import json # geojson 파일용
import geopandas as gpd # geojson 파일용

/opt/app-root/lib/python3.6/site-packages/geopandas/_compat.py:91: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
filename = "격자_01-신호등(보행등).json"
file = open(filename,encoding="utf8")
df1 = gpd.read_file(file)
df1

,gid,cars_cnt,보행 신호등 수,geometry
0,다마846996,0,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ..."
1,다마847995,0,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ..."
2,다마847996,0,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ..."
3,다마847997,0,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ..."
4,다마847998,0,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ..."
...,...,...,...,...
54907,라바052223,0,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ..."
54908,라바052224,0,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ..."
54909,라바053222,0,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ..."
54910,라바053223,0,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ..."
54911,라바053224,0,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ..."

In [3]:
df1[df1['보행 신호등 수']>0]

,gid,cars_cnt,보행 신호등 수,geometry
1228,다바796081,3,2,"MULTIPOLYGON (((127.27288 36.26996, 127.27288 ..."
2062,다바803077,0,4,"MULTIPOLYGON (((127.28068 36.26636, 127.28068 ..."
3544,다바810181,0,2,"MULTIPOLYGON (((127.28822 36.36014, 127.28822 ..."
4593,다바815165,9,1,"MULTIPOLYGON (((127.29383 36.34572, 127.29383 ..."
4608,다바815180,0,1,"MULTIPOLYGON (((127.29380 36.35925, 127.29379 ..."
...,...,...,...,...
51722,다바995166,0,1,"MULTIPOLYGON (((127.49443 36.34680, 127.49443 ..."
51723,다바995167,0,1,"MULTIPOLYGON (((127.49443 36.34770, 127.49443 ..."
52045,다바997166,0,4,"MULTIPOLYGON (((127.49666 36.34680, 127.49666 ..."
53471,라바013171,0,1,"MULTIPOLYGON (((127.51449 36.35131, 127.51449 ..."
53472,라바013172,0,1,"MULTIPOLYGON (((127.51449 36.35221, 127.51449 ..."

In [4]:
filename = "격자_02-신호등(차량등).json"
file = open(filename,encoding="utf8")
df2 = gpd.read_file(file)
del df2['geometry']
df2

            gid  cars_cnt  차량 신호등 수
0      다마846996         0         0
1      다마847995         0         0
2      다마847996         0         0
3      다마847997         0         0
4      다마847998         0         0
...         ...       ...       ...
54907  라바052223         0         0
54908  라바052224         0         0
54909  라바053222         0         0
54910  라바053223         0         0
54911  라바053224         0         0

[54912 rows x 3 columns]

In [5]:
df2[df2['차량 신호등 수']>0]

            gid  cars_cnt  차량 신호등 수
1228   다바796081         3         6
2062   다바803077         0         9
3544   다바810181         0         4
4390   다바814180         0         4
4593   다바815165         9         1
...         ...       ...       ...
51367  다바993162         5         3
51722  다바995166         0         1
51723  다바995167         0         5
52045  다바997166         0         9
53471  라바013171         0         6

[2485 rows x 3 columns]

In [6]:
filename = "격자_03-도로속도표지.json"
file = open(filename,encoding="utf8")
df3 = gpd.read_file(file)
del df3['geometry']
df3

            gid  cars_cnt  속도표시 총 개수  속도표시 종류 수  속도표시-1  속도표시-2  속도표시-3
0      다마846996         0          0          0       0       0       0
1      다마847995         0          0          0       0       0       0
2      다마847996         0          0          0       0       0       0
3      다마847997         0          0          0       0       0       0
4      다마847998         0          0          0       0       0       0
...         ...       ...        ...        ...     ...     ...     ...
54907  라바052223         0          0          0       0       0       0
54908  라바052224         0          0          0       0       0       0
54909  라바053222         0          0          0       0       0       0
54910  라바053223         0          0          0       0       0       0
54911  라바053224         0          0          0       0       0       0

[54912 rows x 7 columns]

In [7]:
df3[df3['속도표시 종류 수']==3]

            gid  cars_cnt  속도표시 총 개수  속도표시 종류 수  속도표시-1  속도표시-2  속도표시-3
17546  다바868220         6          8          3      30      50      60
30724  다바917239         0          4          3      30      40      50
42068  다바958118         8          4          3      30      40      50

In [8]:
filename = "격자_04-교통안전표지.json"
file = open(filename,encoding="utf8")
df4 = gpd.read_file(file)
del df4['geometry']
df4

,gid,cars_cnt,안전표지판 수,표지판-정주식,표지판-내민식,표지판-부착식,표지판-문형식,표지판종류-주의,표지판종류-규제,표지판종류-지시,표지판종류-보조
0,다마846996,0,0,0,0,0,0,0,0,0,0
1,다마847995,0,0,0,0,0,0,0,0,0,0
2,다마847996,0,0,0,0,0,0,0,0,0,0
3,다마847997,0,0,0,0,0,0,0,0,0,0
4,다마847998,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
54907,라바052223,0,0,0,0,0,0,0,0,0,0
54908,라바052224,0,0,0,0,0,0,0,0,0,0
54909,라바053222,0,0,0,0,0,0,0,0,0,0
54910,라바053223,0,0,0,0,0,0,0,0,0,0
54911,라바053224,0,0,0,0,0,0,0,0,0,0

In [9]:
df4[df4['안전표지판 수']>3]

,gid,cars_cnt,안전표지판 수,표지판-정주식,표지판-내민식,표지판-부착식,표지판-문형식,표지판종류-주의,표지판종류-규제,표지판종류-지시,표지판종류-보조
268,다바780092,0,6,3,0,3,0,1,3,1,1
600,다바787134,0,4,0,4,0,0,1,2,0,1
652,다바788127,0,6,6,0,0,0,2,2,0,2
739,다바790086,0,4,0,0,4,0,2,2,0,0
889,다바792084,0,4,1,1,2,0,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...
54610,라바033232,0,4,2,0,2,0,2,2,0,0
54620,라바033242,0,7,6,0,1,0,2,2,3,0
54639,라바034233,0,5,5,0,0,0,3,2,0,0
54646,라바034240,0,4,3,0,1,0,2,2,0,0
54667,라바035234,0,7,7,0,0,0,4,2,0,1

In [10]:
filename = "격자_05-cctv.json"
file = open(filename,encoding="utf8")
df5 = gpd.read_file(file)
del df5['geometry']
df5

            gid  cars_cnt  cctv 수
0      다마846996         0       0
1      다마847995         0       0
2      다마847996         0       0
3      다마847997         0       0
4      다마847998         0       0
...         ...       ...     ...
54907  라바052223         0       0
54908  라바052224         0       0
54909  라바053222         0       0
54910  라바053223         0       0
54911  라바053224         0       0

[54912 rows x 3 columns]

In [11]:
df5[df5['cctv 수']>0]

            gid  cars_cnt  cctv 수
6840   다바825181         0       2
9809   다바838207         0       1
10446  다바841113         1       2
11233  다바844167         0       1
11246  다바844180         7       2
...         ...       ...     ...
37589  다바942159        19       2
39295  다바948147        16       1
39318  다바948170        45       2
42634  다바960132        15       2
43692  다바964109         5       2

[81 rows x 3 columns]

In [12]:
filename = "격자_06-안전지대-2.json"
file = open(filename,encoding="utf8")
df6 = gpd.read_file(file)
del df6['geometry']
df6

       index       gid  cars_cnt  안전지대 수  안전지대 면적
0          0  다마846996         0       0      0.0
1          1  다마847995         0       0      0.0
2          2  다마847996         0       0      0.0
3          3  다마847997         0       0      0.0
4          4  다마847998         0       0      0.0
...      ...       ...       ...     ...      ...
54907  54907  라바052223         0       0      0.0
54908  54908  라바052224         0       0      0.0
54909  54909  라바053222         0       0      0.0
54910  54910  라바053223         0       0      0.0
54911  54911  라바053224         0       0      0.0

[54912 rows x 5 columns]

In [13]:
df6[df6['안전지대 수']>0]

       index       gid  cars_cnt  안전지대 수       안전지대 면적
593      593  다바787127         0       1  1.135325e-09
594      594  다바787128         0       1  3.130420e-09
653      653  다바788128         0       2  5.752391e-09
654      654  다바788129         0       1  2.583319e-11
1228    1228  다바796081         3       2  7.342448e-09
...      ...       ...       ...     ...           ...
53157  53157  라바009170         0       1  1.192770e-08
53387  53387  라바012171         0       1  3.660488e-09
53472  53472  라바013172         0       1  2.749135e-09
53639  53639  라바015173         0       1  9.817644e-09
53720  53720  라바016173         0       1  2.158717e-09

[2630 rows x 5 columns]

In [14]:
filename = "격자_07-횡단보도-2.json"
file = open(filename,encoding="utf8")
df7 = gpd.read_file(file)
del df7['geometry']
df7

       index       gid  cars_cnt  횡단보도 수  신형 횡단보도  구형 횡단보도  횡단보도 면적
0          0  다마846996         0       0        0        0      0.0
1          1  다마847995         0       0        0        0      0.0
2          2  다마847996         0       0        0        0      0.0
3          3  다마847997         0       0        0        0      0.0
4          4  다마847998         0       0        0        0      0.0
...      ...       ...       ...     ...      ...      ...      ...
54907  54907  라바052223         0       0        0        0      0.0
54908  54908  라바052224         0       0        0        0      0.0
54909  54909  라바053222         0       0        0        0      0.0
54910  54910  라바053223         0       0        0        0      0.0
54911  54911  라바053224         0       0        0        0      0.0

[54912 rows x 7 columns]

In [15]:
df7[df7['횡단보도 수']>0]

       index       gid  cars_cnt  횡단보도 수  신형 횡단보도  구형 횡단보도       횡단보도 면적
991      991  다바793106         0       2        0        2  4.401532e-09
1071    1071  다바794106         0       1        0        1  2.066891e-09
1228    1228  다바796081         3       1        0        1  1.196739e-08
1745    1745  다바801077         0       2        2        0  7.801971e-09
1897    1897  다바802077         0       1        0        1  1.900899e-09
...      ...       ...       ...     ...      ...      ...           ...
54449  54449  라바028221         0       1        0        1  4.003564e-09
54518  54518  라바030226         0       1        1        0  3.656391e-09
54534  54534  라바030242         0       1        1        0  2.764627e-09
54563  54563  라바031242         0       1        1        0  2.761058e-09
54620  54620  라바033242         0       1        1        0  3.251719e-09

[6009 rows x 7 columns]

In [16]:
filename = "격자_08-정차금지지대-2.json"
file = open(filename,encoding="utf8")
df8 = gpd.read_file(file)
del df8['geometry']
df8

       index       gid  cars_cnt  정차금지지대 수  정차금지지대 면적
0          0  다마846996         0         0        0.0
1          1  다마847995         0         0        0.0
2          2  다마847996         0         0        0.0
3          3  다마847997         0         0        0.0
4          4  다마847998         0         0        0.0
...      ...       ...       ...       ...        ...
54907  54907  라바052223         0         0        0.0
54908  54908  라바052224         0         0        0.0
54909  54909  라바053222         0         0        0.0
54910  54910  라바053223         0         0        0.0
54911  54911  라바053224         0         0        0.0

[54912 rows x 5 columns]

In [17]:
df8[df8['정차금지지대 수']>0]

       index       gid  cars_cnt  정차금지지대 수     정차금지지대 면적
9813    9813  다바838211         0         1  2.058866e-08
12459  12459  다바849150        17         1  5.817206e-09
16383  16383  다바864117        39         1  6.278352e-10
16384  16384  다바864118        13         1  7.298323e-09
16649  16649  다바865117       827         1  1.565900e-09
16650  16650  다바865118         0         1  4.635186e-09
16921  16921  다바866123        62         1  4.543514e-09
17187  17187  다바867124        51         3  1.569833e-08
17967  17967  다바870113       334         1  2.291795e-08
21020  21020  다바881229         0         1  1.740779e-08
21397  21397  다바883117         7         1  2.627532e-09
21402  21402  다바883122         1         2  1.594512e-08
22137  22137  다바886123       505         1  3.095332e-08
22138  22138  다바886124         0         1  3.289562e-09
22383  22383  다바887123       573         1  3.837764e-09
22677  22677  다바888170        10         1  4.718926e-09
23459  23459  다바891201         0         1  1.422077e-08
23879  23879  다바893108        41         1  1.063396e-08
24136  24136  다바894108         5         1  2.580296e-09
26994  26994  다바904168         0         1  2.122405e-08
27239  27239  다바905122        41         1  1.498010e-08
27384  27384  다바905267         0         1  9.153546e-08
27385  27385  다바905268         1         1  4.568331e-09
27530  27530  다바906122         0         1  7.990054e-10
27578  27578  다바906170         0         1  5.537265e-09
27579  27579  다바906171         0         1  8.239736e-09
27606  27606  다바906198       321         1  1.551077e-09
27607  27607  다바906199         0         1  1.261909e-09
27622  27622  다바906214         0         1  2.877629e-09
27675  27675  다바906267         0         1  1.080669e-08
27676  27676  다바906268        16         1  4.701352e-09
27912  27912  다바907214        52         1  1.873754e-09
28973  28973  다바911120        11         1  9.432575e-09
29832  29832  다바914138         9         1  5.628437e-09
29833  29833  다바914139        39         1  2.826918e-08
30926  30926  다바918173        33         1  8.363098e-09
31195  31195  다바919172        14         1  3.461017e-09
32552  32552  다바924167        14         2  1.734427e-08
32553  32553  다바924168        57         1  1.068240e-08
32581  32581  다바924196         4         1  1.154145e-11
34200  34200  다바930161        26         1  8.779822e-09
34234  34234  다바930195         0         1  3.145552e-08
34478  34478  다바931160      1375         1  1.180062e-08
34479  34479  다바931161       311         1  2.369477e-09
35142  35142  다바933266        31         1  4.668161e-08
35583  35583  다바935147        28         1  4.701770e-12
35630  35630  다바935194         0         1  1.962863e-08
35864  35864  다바936147         0         2  3.590286e-08
35911  35911  다바936194        43         1  4.471265e-09
37013  37013  다바940157        20         1  8.794723e-09
37014  37014  다바940158        52         2  8.611056e-08
37301  37301  다바941158         5         1  7.781027e-09
37875  37875  다바943157         8         1  5.254118e-08
38438  38438  다바945145         1         1  2.983804e-09
39003  39003  다바947139         6         1  7.318805e-10
40169  40169  다바951175        38         1  3.015279e-08
40449  40449  다바952174         0         1  1.792310e-08

In [18]:
filename = "격자_09-인구.json"
file = open(filename,encoding="utf8")
df9 = gpd.read_file(file)
del df9['geometry']
df9

            gid  인구정보(총인구)  인구정보(고령)  인구정보(생산가능)  인구정보(유소년)
0      다마846996        0.0       0.0         0.0        0.0
1      다마847995        0.0       0.0         0.0        0.0
2      다마847996        0.0       0.0         0.0        0.0
3      다마847997        0.0       0.0         0.0        0.0
4      다마847998        0.0       0.0         0.0        0.0
...         ...        ...       ...         ...        ...
54907  라바052223        0.0       0.0         0.0        0.0
54908  라바052224        0.0       0.0         0.0        0.0
54909  라바053222        0.0       0.0         0.0        0.0
54910  라바053223        0.0       0.0         0.0        0.0
54911  라바053224        0.0       0.0         0.0        0.0

[54912 rows x 5 columns]

In [19]:
df9[df9['인구정보(총인구)']>0]

            gid  인구정보(총인구)  인구정보(고령)  인구정보(생산가능)  인구정보(유소년)
31     다마849995      138.0      43.0        95.0        0.0
97     다마853999        6.0       0.0         0.0        0.0
202    다바776100       23.0      10.0        11.0        0.0
203    다바776101       13.0       6.0         7.0        0.0
214    다바777097       11.0       0.0         6.0        0.0
...         ...        ...       ...         ...        ...
54470  라바028242        6.0       0.0         0.0        0.0
54502  라바029242       11.0       0.0         7.0        0.0
54560  라바031239        8.0       0.0         0.0        0.0
54592  라바032243        7.0       0.0         0.0        0.0
54619  라바033241       10.0       6.0         0.0        0.0

[8546 rows x 5 columns]

In [20]:
filename = "격자_10-교통링크.json"
file = open(filename,encoding="utf8")
df10 = gpd.read_file(file)
del df10['geometry']
df10

            gid  cars_cnt  교통링크 수
0      다마846996         0       0
1      다마847995         0       0
2      다마847996         0       0
3      다마847997         0       0
4      다마847998         0       0
...         ...       ...     ...
54907  라바052223         0       0
54908  라바052224         0       0
54909  라바053222         0       0
54910  라바053223         0       0
54911  라바053224         0       0

[54912 rows x 3 columns]

In [21]:
df10[df10['교통링크 수']>0]

            gid  cars_cnt  교통링크 수
65     다마851997         0       2
66     다마851998         0       2
82     다마852998         0       2
96     다마853998         0       2
97     다마853999         5       2
...         ...       ...     ...
54669  라바035236         0       2
54670  라바035237         0       2
54694  라바036234         0       1
54695  라바036235         0       2
54696  라바036236         0       2

[12294 rows x 3 columns]

In [22]:
filename = "격자_11-중앙분리대-2.json"
file = open(filename,encoding="utf8")
df11 = gpd.read_file(file)
del df11['geometry']
df11

       index       gid  cars_cnt  중앙분리대 수  중앙분리대 면적
0          0  다마846996         0        0       0.0
1          1  다마847995         0        0       0.0
2          2  다마847996         0        0       0.0
3          3  다마847997         0        0       0.0
4          4  다마847998         0        0       0.0
...      ...       ...       ...      ...       ...
54907  54907  라바052223         0        0       0.0
54908  54908  라바052224         0        0       0.0
54909  54909  라바053222         0        0       0.0
54910  54910  라바053223         0        0       0.0
54911  54911  라바053224         0        0       0.0

[54912 rows x 5 columns]

In [23]:
df11[df11['중앙분리대 수']>0]

       index       gid  cars_cnt  중앙분리대 수      중앙분리대 면적
16136  16136  다바863137         0        1  5.476727e-11
16399  16399  다바864133         0        2  6.149465e-10
16403  16403  다바864137         0        1  9.407306e-10
16408  16408  다바864142         0        1  1.005460e-09
16424  16424  다바864158         0        1  6.532456e-10
16665  16665  다바865133         0        2  2.461001e-10
16666  16666  다바865134         0        1  3.397321e-10
16674  16674  다바865142         0        3  6.723376e-10
16690  16690  다바865158         0        4  8.805645e-10
16691  16691  다바865159         0        2  6.160191e-10
16940  16940  다바866142         0        1  1.795642e-10
16957  16957  다바866159         0        1  3.912763e-10
22454  22454  다바887194         0        1  1.292972e-09
37584  37584  다바942154        29        1  9.894977e-10
37586  37586  다바942156        19        1  1.327312e-09
37870  37870  다바943152         8        1  8.786021e-10
37871  37871  다바943153        10        1  3.141040e-09
37872  37872  다바943154        18        1  6.086978e-10
37874  37874  다바943156         5        1  2.085631e-09

In [24]:
temp=pd.merge(df1,df2,how='left')
temp=pd.merge(temp,df3,how='left')
temp=pd.merge(temp,df4,how='left')
temp=pd.merge(temp,df5,how='left')
temp=pd.merge(temp,df6,how='left')
temp=pd.merge(temp,df7,how='left')
temp=pd.merge(temp,df8,how='left')
temp=pd.merge(temp,df9,how='left')
temp=pd.merge(temp,df10,how='left')
temp=pd.merge(temp,df11,how='left')

In [25]:
temp.rename(columns = {'cars_cnt' : '등록차량'}, inplace = True)
del temp['index']

In [26]:
temp

,gid,등록차량,보행 신호등 수,geometry,차량 신호등 수,속도표시 총 개수,속도표시 종류 수,속도표시-1,속도표시-2,속도표시-3,...,횡단보도 면적,정차금지지대 수,정차금지지대 면적,인구정보(총인구),인구정보(고령),인구정보(생산가능),인구정보(유소년),교통링크 수,중앙분리대 수,중앙분리대 면적
0,다마846996,0,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
1,다마847995,0,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
2,다마847996,0,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
3,다마847997,0,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
4,다마847998,0,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54907,라바052223,0,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
54908,라바052224,0,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
54909,라바053222,0,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
54910,라바053223,0,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
54911,라바053224,0,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0,0,0,0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0

In [ ]:
temp.to_file("0328-아침 격자.json", driver="GeoJSON")