### 1. 횡단보도 수 격자화

In [1]:
# 가져다 쓸 모듈들
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # 예쁜 matplotlib
import folium # 지도 시각화
import json # geojson 파일용
import geopandas as gpd # geojson 파일용

/opt/app-root/lib/python3.6/site-packages/geopandas/_compat.py:91: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
filename = "30.대전광역시_차량등록현황_격자.geojson"
file = open(filename,encoding="utf8")
df3 = gpd.read_file(file)
df3=df3.reset_index()
df3

,index,gid,cars_cnt,geometry
0,0,다마846996,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ..."
1,1,다마847995,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ..."
2,2,다마847996,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ..."
3,3,다마847997,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ..."
4,4,다마847998,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ..."
...,...,...,...,...
54907,54907,라바052223,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ..."
54908,54908,라바052224,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ..."
54909,54909,라바053222,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ..."
54910,54910,라바053223,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ..."
54911,54911,라바053224,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ..."

In [3]:
df91=df3.copy()
df91['횡단보도 수']=0
df91['신형 횡단보도']=0
df91['구형 횡단보도']=0
df91

,index,gid,cars_cnt,geometry,횡단보도 수,신형 횡단보도,구형 횡단보도
0,0,다마846996,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0,0,0
1,1,다마847995,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0,0,0
2,2,다마847996,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0,0,0
3,3,다마847997,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0,0,0
4,4,다마847998,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0,0,0
...,...,...,...,...,...,...,...
54907,54907,라바052223,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0,0,0
54908,54908,라바052224,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0,0,0
54909,54909,라바053222,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0,0,0
54910,54910,라바053223,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0,0,0
54911,54911,라바053224,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0,0,0

In [ ]:
print(len(df91))
for i in range (len(df91['geometry'])):
    print(i)
    for j in range (len(df3['geometry'])):
        if df91['geometry'][i].intersects(df3['geometry'][j])==True:
            df91['횡단보도 수'][i]+=1
            if df3['crsw_gbn_cd'][j]=='1':
                df91['신형 횡단보도'][i]+=1
            elif df3['crsw_gbn_cd'][j]=='2':
                df91['구형 횡단보도'][i]+=1
df91

In [ ]:
print(df['crsw_gbn_cd'].unique())
print(df['crsw_knd_cd'].unique())
print(df['hol_len'].unique())
print(df['vel_len'])
print(len(df))

In [ ]:
df91.to_file("격자_07-횡단보도-1.json", driver="GeoJSON")

### 2. 횡단보도 면적 격자화

In [19]:
filename = "격자_07-횡단보도-1.json"
file = open(filename,encoding="utf8")
df90 = gpd.read_file(file)
df90

,index,gid,cars_cnt,횡단보도 수,신형 횡단보도,구형 횡단보도,geometry
0,0,다마846996,0,0,0,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ..."
1,1,다마847995,0,0,0,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ..."
2,2,다마847996,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ..."
3,3,다마847997,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ..."
4,4,다마847998,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ..."
...,...,...,...,...,...,...,...
54907,54907,라바052223,0,0,0,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ..."
54908,54908,라바052224,0,0,0,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ..."
54909,54909,라바053222,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ..."
54910,54910,라바053223,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ..."
54911,54911,라바053224,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ..."

In [20]:
df91=df90.copy()
df91['횡단보도 면적']=0.0
df91=df91.reset_index()
df91

,level_0,index,gid,cars_cnt,횡단보도 수,신형 횡단보도,구형 횡단보도,geometry,횡단보도 면적
0,0,0,다마846996,0,0,0,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0.0
1,1,1,다마847995,0,0,0,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0.0
2,2,2,다마847996,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0.0
3,3,3,다마847997,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0.0
4,4,4,다마847998,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0.0
...,...,...,...,...,...,...,...,...,...
54907,54907,54907,라바052223,0,0,0,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0.0
54908,54908,54908,라바052224,0,0,0,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0.0
54909,54909,54909,라바053222,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0.0
54910,54910,54910,라바053223,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0.0
54911,54911,54911,라바053224,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0.0

In [21]:
filename = "6.대전광역시_횡단보도.geojson"
file = open(filename,encoding="utf8")
df = gpd.read_file(file)
df

,gu,dong,jibun,loc_cd,crsw_gbn_cd,crsw_knd_cd,hol_len,vel_len,geometry
0,중구,문화동,None,1,1,1,6.0,26.0,"MULTIPOLYGON (((127.40803 36.31549, 127.40801 ..."
1,중구,유천동,None,1,1,1,4.0,11.0,"MULTIPOLYGON (((127.39799 36.31250, 127.39787 ..."
2,None,None,None,1,2,1,4.0,5.0,"MULTIPOLYGON (((127.43430 36.33902, 127.43423 ..."
3,None,None,None,1,2,1,6.0,7.0,"MULTIPOLYGON (((127.43651 36.33524, 127.43651 ..."
4,동구,삼성동,None,1,1,1,8.0,21.0,"MULTIPOLYGON (((127.42324 36.34282, 127.42307 ..."
...,...,...,...,...,...,...,...,...,...
12584,중구,부사동,None,1,2,1,6.0,14.0,"MULTIPOLYGON (((127.43341 36.31539, 127.43334 ..."
12585,중구,부사동,None,1,1,1,4.0,5.0,"MULTIPOLYGON (((127.43300 36.31522, 127.43302 ..."
12586,유성구,외삼동,None,1,1,1,3.0,6.0,"MULTIPOLYGON (((127.31298 36.39593, 127.31295 ..."
12587,유성구,죽동,None,1,1,1,4.0,15.0,"MULTIPOLYGON (((127.33848 36.37307, 127.33849 ..."
12588,유성구,원내동,None,1,2,1,6.0,7.0,"MULTIPOLYGON (((127.31681 36.29714, 127.31675 ..."

In [22]:
t=gpd.overlay(df91,df,how='intersection')
t=t.reset_index()
t

ValueError: cannot insert level_0, already exists

In [ ]:
converted_json = df.to_json()

m = folium.Map(
    location=[36.34156,127.39704],
    zoom_start=11
)

folium.GeoJson(
    converted_json,
).add_to(m)

m

In [ ]:
converted_json = t.to_json()

m = folium.Map(
    location=[36.34156,127.39704],
    zoom_start=11
)

folium.GeoJson(
    converted_json,
).add_to(m)

m

In [ ]:
del t['level_0']

In [ ]:
len(t['index'].to_list())

In [ ]:
len(t.area.to_list())

In [ ]:
for a,b in zip(t['index'].to_list(),t.area.to_list()):
    df91['횡단보도 면적'][a]+=b

In [ ]:
df91['횡단보도 면적'].sum()==t['geometry'].area.sum()

In [23]:
df91

,level_0,index,gid,cars_cnt,횡단보도 수,신형 횡단보도,구형 횡단보도,geometry,횡단보도 면적
0,0,0,다마846996,0,0,0,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0.0
1,1,1,다마847995,0,0,0,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0.0
2,2,2,다마847996,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0.0
3,3,3,다마847997,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0.0
4,4,4,다마847998,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0.0
...,...,...,...,...,...,...,...,...,...
54907,54907,54907,라바052223,0,0,0,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0.0
54908,54908,54908,라바052224,0,0,0,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0.0
54909,54909,54909,라바053222,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0.0
54910,54910,54910,라바053223,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0.0
54911,54911,54911,라바053224,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0.0

In [24]:
df91[df91['횡단보도 수']==1]

,level_0,index,gid,cars_cnt,횡단보도 수,신형 횡단보도,구형 횡단보도,geometry,횡단보도 면적
1071,1071,1071,다바794106,0,1,0,1,"MULTIPOLYGON (((127.27059 36.29249, 127.27058 ...",0.0
1228,1228,1228,다바796081,3,1,0,1,"MULTIPOLYGON (((127.27288 36.26996, 127.27288 ...",0.0
1897,1897,1897,다바802077,0,1,0,1,"MULTIPOLYGON (((127.27957 36.26636, 127.27957 ...",0.0
2693,2693,2693,다바806130,8,1,0,1,"MULTIPOLYGON (((127.28389 36.31415, 127.28389 ...",0.0
2744,2744,2744,다바806181,0,1,0,1,"MULTIPOLYGON (((127.28376 36.36013, 127.28376 ...",0.0
...,...,...,...,...,...,...,...,...,...
54449,54449,54449,라바028221,0,1,0,1,"MULTIPOLYGON (((127.53122 36.39638, 127.53122 ...",0.0
54518,54518,54518,라바030226,0,1,1,0,"MULTIPOLYGON (((127.53346 36.40089, 127.53346 ...",0.0
54534,54534,54534,라바030242,0,1,1,0,"MULTIPOLYGON (((127.53346 36.41531, 127.53346 ...",0.0
54563,54563,54563,라바031242,0,1,1,0,"MULTIPOLYGON (((127.53458 36.41531, 127.53458 ...",0.0
54620,54620,54620,라바033242,0,1,1,0,"MULTIPOLYGON (((127.53681 36.41531, 127.53681 ...",0.0

In [25]:
df91[df91['횡단보도 수']==0]

,level_0,index,gid,cars_cnt,횡단보도 수,신형 횡단보도,구형 횡단보도,geometry,횡단보도 면적
0,0,0,다마846996,0,0,0,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0.0
1,1,1,다마847995,0,0,0,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0.0
2,2,2,다마847996,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0.0
3,3,3,다마847997,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0.0
4,4,4,다마847998,0,0,0,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0.0
...,...,...,...,...,...,...,...,...,...
54907,54907,54907,라바052223,0,0,0,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0.0
54908,54908,54908,라바052224,0,0,0,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0.0
54909,54909,54909,라바053222,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0.0
54910,54910,54910,라바053223,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0.0
54911,54911,54911,라바053224,0,0,0,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0.0

In [ ]:
df91.to_file("격자_06-횡단보도-2.json", driver="GeoJSON")